
#top-bar {
    width: 100%;
    height: 35px;
    background-color: #00b214;
    .flex-row {
        display: flex;
        padding-top: 8px;
        
        .col-space{
        width: 10%;
        }
        .col-phone {
        width: 30%;
        text-align: center;
        color: #fff;
            h3{
                margin: 0;
            }
        }
        .col-mid-space {
        width: 15%;
        }
        .col-follow {
        width: 35%;
        text-align: center;
        color: #fff;
        }
    }
}
    