#header-search {
    padding-left: 80px;
    padding-right: 80px;
    margin: auto;
    height: 130px;
    .content {
        display: flex;
        .logo {
            padding: 10px;
            width: 12%;
            img{
                width: 100%;
            }
        }
    }
    
}